<ons-page id="Detail">
    <div style="text-align:center;">
        <img src="img/1.jpg" width="188" height="275"></div>
    <p style="text-align: center;">
        AVENGERS ENDGAME</B><br>After the devastating events of Avengers: Infinity War (2018), the universe is in ruins.
        With
        the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore
        balance to the universe.<br><br><br>
        <b>RATING</b>
        <b>8.4</b> <br>
        <img src="img/Star.png" width="60" height="60">
    </p>
</ons-page>